

// input[type="text"],input[type="email"],
// select.form-control {
//   background: #fdfcfc;
//   border: none;
//   border-bottom: 1px solid darkgray;
//   -webkit-box-shadow: none;
//   box-shadow: none;
//   border-radius: 5px;
// }

// input[type="text"]:focus,
// select.form-control:focus {
//   -webkit-box-shadow: none;
//   box-shadow: none;
// }

// .ng-invalid:not(form) {
//   border-bottom: 1px solid rgb(226, 126, 126);
// }

