<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal">
  <div class="card mt-3">
    <div class="card-body">
      <div class="form-group mt-3">
        <div class="col-sm-12">
          <ctrl-input
            [(ngModel)]="this.usuario!.name"
            name="nome"
            type="text"
            placeholder="Digite seu nome"
            label="Nome"
          ></ctrl-input>
        </div>
      </div>

      <div class="form-group mt-3">
        <div class="col-sm-12">
          <ctrl-input
            [(ngModel)]="this.usuario!.email"
            name="email"
            type="email"
            placeholder="nome@email.com"
            label="E-mail"
          ></ctrl-input>
        </div>
      </div>
      <div ngModelGroup="endereco">
        <div class="form-group mt-3">
          <div class="col-sm-3">
            <label for="cep" class="control-label">CEP</label>
            <input
              type="text"
              class="form-control"
              id="cep"
              name="cep"
              [(ngModel)]="this.usuario!.cep"
              #cep="ngModel"
              (blur)="consultaCep($event.target)"
            />
            <ctrl-campo-error-msg
              [visible]="this.campoValidacao(cep)"
            ></ctrl-campo-error-msg>
          </div>

          <div class="col-sm-6">
            <ctrl-input
              [(ngModel)]="this.usuario!.complemento"
              name="complemento"
              type="text"
              placeholder="Digite o complemento"
              label="Complemento"
              required="false"
            ></ctrl-input>
          </div>
        </div>

        <div class="form-group mt-3">
          <div class="col-sm-12">
            <label for="logardouro" class="control-label">Rua</label>
            <input
              type="text"
              class="form-control"
              id="logardouro"
              name="logardouro"
              [(ngModel)]="this.usuario!.logardouro"
              #logardouro="ngModel"
              readonly
            />
            <ctrl-campo-error-msg
              [visible]="this.campoValidacao(logardouro)"
            ></ctrl-campo-error-msg>
          </div>
        </div>

        <div class="form-group mt-3">
          <div class="col-sm-5">
            <label for="bairro" class="control-label">Bairro</label>
            <input
              type="text"
              class="form-control"
              id="bairro"
              name="bairro"
              [(ngModel)]="this.usuario!.bairro"
              #bairro="ngModel"
              readonly
            />
            <ctrl-campo-error-msg
              [visible]="this.campoValidacao(bairro)"
            ></ctrl-campo-error-msg>
          </div>

          <div class="col-sm-5">
            <label for="cidade" class="control-label">Cidade</label>
            <input
              type="text"
              class="form-control"
              id="cidade"
              name="cidade"
              [(ngModel)]="this.usuario!.cidade"
              #cidade="ngModel"
              readonly
            />
            <ctrl-campo-error-msg
              [visible]="this.campoValidacao(cidade)"
            ></ctrl-campo-error-msg>
          </div>

          <div class="col-sm-2">
            <label for="estado" class="control-label">Estado</label>
            <input
              type="text"
              class="form-control"
              id="estado"
              name="estado"
              [(ngModel)]="this.usuario!.estado"
              #estado="ngModel"
              readonly
            />
            <ctrl-campo-error-msg
              [visible]="this.campoValidacao(estado)"
            ></ctrl-campo-error-msg>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary mt-3" [disabled]="!f.valid">
        Enviar
      </button>
    </div>
  </div>
  <app-form-debug [form]="f"></app-form-debug>
</form>
