<div class="row">
  <div class="col s6">
    <h3>Lista de Alunos</h3>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let aluno of alunos">
        <a [routerLink]="[aluno.id]">{{ aluno.nome }}</a>
      </li>
    </ul>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
