<mat-card>
  <mat-toolbar color="accent">
    Aula 15 - Ciclo de Vida do Componente</mat-toolbar
  >
  <section class="life-cycle">
    <article>
      <h3>Ciclo de Vida do Componente</h3>
      <div>
        <p>Abra o console (F12) para acompanhar a sequencia de eventos do ciclo de vida do componente.</p>
        <app-life-cycle [(ngModel)]="this.value" ngDefaultControl ></app-life-cycle>
        <input type="text" [(ngModel)]="this.value">
        <p> {{ this.value }} </p>
      </div>
    </article>
  </section>
</mat-card>
