<mat-card>
  <mat-toolbar color="accent"> Aula 27 - *ngFor</mat-toolbar>
  <section class="life-cycle">
    <article>
      <br />
      <button class="btn btn-primary" (click)="this.changeStateMoviesFrame()">
        {{ !this.showMovies ? "Exibir" : "Ocultar" }} lista de Filmes.
      </button>
      <br /><br />
      <div *ngIf="this.showMovies">
        <p>Utilizando *ngFor</p>
        <div *ngIf="movies.length > 0">
          <ul>
            <li *ngFor="let movie of this.movies">
              {{ movie }}
            </li>
          </ul>
        </div>
        <div *ngIf="movies.length == 0">Não existem items na lista.</div>
      </div>
      <br /><br />
      <div [hidden]="!this.showMovies">
        <p>Utilizando *ngFor com índice</p>
        <div *ngIf="movies.length > 0">
          <ul>
            <li *ngFor="let movie of this.movies, let i = index">
              {{ i }} - {{ movie }}
            </li>
          </ul>
        </div>
        <div *ngIf="movies.length == 0">Não existem items na lista.</div>
      </div>
    </article>
  </section>
</mat-card>
