<nav class="navbar navbar-expand-lg navbar-dark bg-primary" *ngIf="this.authService.autenticado">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="navbar-brand" routerLink="">Cursos Angular</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="!this.authService.autenticado">
        <a class="nav-link" routerLink="/login"  routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item" *ngIf="this.authService.autenticado">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cursos" routerLinkActive="active" [queryParams]="{pagina:1}">Cursos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/alunos" routerLinkActive="active" [queryParams]="{pagina:1}">Alunos</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>

  </div>
</nav>

<router-outlet></router-outlet>
