<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div>&nbsp;</div>
  <a class="navbar-brand" routerLink="">Angular Forms</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/templateForm">Form - Template Driven</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dataForm">Form - Data Driven</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
