<mat-card>
  <mat-toolbar color="accent"> Aula 30 - ngStyle</mat-toolbar>
  <section class="ngClass">
    <article>
      <h1>Styles com property binding (style binding)</h1>
      <button
        [style.backgroundColor]="this.active ? 'blue' : 'gray'"
        [style.color]="this.active ? 'white' : 'black'"
        [style.fontWeight]="this.active ? 'bold' : 'normal'"
        [style.fontSize]="this.fontSize + 'px'"
        (click)="button_click()"
      >
        Mudar atributo ativo</button
      ><br />
      <input type="number" [(ngModel)]="this.fontSize" />
    </article>
    <article>
      <h1>Styles com ngStyle</h1>
      <button [ngStyle]="{
        'backgroundColor': this.active ? 'blue' : 'gray',
        'color': this.active ? 'white' : 'black',
        'fontWeight': this.active ? 'bold' : 'normal',
        'fontSize':this.fontSize + 'px'
      }"
        (click)="button_click()"
      >
        Mudar atributo ativo</button
      ><br />
      <input type="number" [(ngModel)]="this.fontSize" />
    </article>
  </section>
</mat-card>
