<h5>Login</h5>

<div class="row">
  <div class="input-field col s6">
    <label class="active" for="usuario">Usuário</label>
    <input id="usuario" type="text" class="validate" [(ngModel)]="this.usuario.loginName">
  </div>
</div>
<div class="row">
  <div class="input-field col s6">
    <label class="active" for="senha">Password</label>
    <input id="senha" type="password" class="validate" [(ngModel)]="this.usuario.password">
  </div>
</div>
<button class="btn waves-effect waves-light" type="submit" name="action" (click)="login()">Login
  <i class="material-icons right">send</i>
</button>
