<mat-card>
  <mat-toolbar color="accent"> Aula 10 - Class e Style Binding </mat-toolbar>
  <section class="property-binding">
    <article>
      <h3>Class e Style Binding</h3>
      <div>
        Selecione uma classe:
        <select #classe (change)="(0)">
          <option value="alert-success">Sucesso</option>
          <option value="alert-info">Info</option>
          <option value="alert-warning">Alerta</option>
          <option value="alert-danger">Erro</option>
        </select>
        <br /><br />
        <div class="alert" [class]="classe.value" [style.display]="classe.value == 'alert-success' ? 'block' : 'none'">
          Esse texto somente aparece em caso de sucesso.
        </div>
        <div class="alert" [class]="classe.value" role="alert">...</div>
        <div class="alert" [class.alert-success]="classe.value == 'alert-success'" role="alert">...</div>
        <div class="alert" [class.alert-info]="classe.value == 'alert-info'" role="alert">...</div>
        <div class="alert" [class.alert-warning]="classe.value == 'alert-warning'" role="alert">...</div>
        <div class="alert" [class.alert-danger]="classe.value == 'alert-danger'" role="alert">...</div>
      </div>
    </article>
  </section>
</mat-card>
