<mat-card>
  <mat-toolbar color="accent"> Aula 26 - *ngSwitch e *ngSwitchCase</mat-toolbar>
  <section class="life-cycle">
    <article>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a
                class="nav-link"
                [class.active]="this.tab == 'Home'"
                (click)="this.tab = 'Home'"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [class.active]="this.tab == 'Features'"
                (click)="this.tab = 'Features'"
                >Features</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [class.active]="this.tab == 'Pricing'"
                (click)="this.tab = 'Pricing'"
                >Pricing</a
              >
            </li>
          </ul>
        </div>
      </nav>
      <div class="container" [ngSwitch]="this.tab">
        <p *ngSwitchDefault="'Home'">Aba {{ this.tab }} selecionada.</p>
        <p *ngSwitchCase="'Features'">Aba {{ this.tab }} selecionada.</p>
        <p *ngSwitchCase="'Pricing'">Aba {{ this.tab }} selecionada.</p>
      </div>
    </article>
  </section>
</mat-card>
