<mat-card>
  <mat-toolbar color="accent"> Aula 12 - Two-Way Databinding</mat-toolbar>
  <section class="property-binding">
    <article>
      <h3>Two-Way Databinding</h3>
      <div>
        Two-way data binding usando [value]="this.name" & (input)="this.name =
        txtInput.value"
        <input
          type="text"
          [value]="this.name"
          (input)="this.name = txtInput.value"
          #txtInput
        />
      </div>
      <div>
        Two-way data binding usando [(ngModel)]="this.name"
        <input type="text" [(ngModel)]="this.name" />
      </div>
      <p>Você digitou: <b>{{ this.name }}</b></p>

      <h3>TwoWay DataBinding usando objeto.</h3>
      <div>
        Nome: <input type="text" [(ngModel)]="user.name" /><br />
        Idade: <input type="number" [(ngModel)]="user.age" />
        <p>Meu nome é <b>{{ this.user.name }}</b> e tenho <b>{{ this.user.age }}</b> anos.</p>
      </div>
    </article>
  </section>
</mat-card>
