<mat-toolbar color="primary">
  <label routerLink="" style="cursor: pointer;">Curso de Angular</label>
</mat-toolbar>

<button mat-button [matMenuTriggerFor]="basics">Conceitos básicos</button>
<button mat-button [matMenuTriggerFor]="directives">Diretivas</button>
<button mat-button [matMenuTriggerFor]="services_pipes">Serviços e Pipes</button>
<button mat-button [matMenuTriggerFor]="framework">Framework</button>

<mat-menu #basics="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="bindings">Bindings</button>
  <button mat-menu-item [matMenuTriggerFor]="component">Componentes</button>
</mat-menu>

<mat-menu #bindings="matMenu">
  <button mat-menu-item routerLink="/basics/aula9">Databinding e Interpolação</button>
  <button mat-menu-item routerLink="/basics/aula10">Class e Style Binding</button>
  <button mat-menu-item routerLink="/basics/aula11">Event Binding</button>
  <button mat-menu-item routerLink="/basics/aula12">Two-Way Databinding</button>
</mat-menu>

<mat-menu #component="matMenu">
  <button mat-menu-item routerLink="/basics/aula13">Input Properties</button>
  <button mat-menu-item routerLink="/basics/aula14">Output Properties</button>
  <button mat-menu-item routerLink="/basics/aula15">Life Cycle</button>
</mat-menu>

<mat-menu #directives="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="directivesDecision">Diretivas de decisão</button>
  <button mat-menu-item [matMenuTriggerFor]="directivesFormat">Diretivas de conteúdo</button>
  <button mat-menu-item [matMenuTriggerFor]="directivesCustom">Personalizar diretivas</button>
</mat-menu>

<mat-menu #directivesDecision="matMenu">
  <button mat-menu-item routerLink="/directives/aula25">ngIf</button>
  <button mat-menu-item routerLink="/directives/aula26">ngSwitch</button>
  <button mat-menu-item routerLink="/directives/aula27">ngFor</button>
</mat-menu>

<mat-menu #directivesFormat="matMenu">
  <button mat-menu-item routerLink="/directives/aula29">ngClass</button>
  <button mat-menu-item routerLink="/directives/aula30">ngStyle</button>
  <button mat-menu-item routerLink="/directives/aula31">Elvis Operator</button>
  <button mat-menu-item routerLink="/directives/aula32">ngContent</button>
</mat-menu>

<mat-menu #directivesCustom="matMenu">
  <button mat-menu-item routerLink="/directives/aula33">Atributo</button>
  <button mat-menu-item routerLink="/directives/aula36">Estrutura</button>
</mat-menu>

<mat-menu #services_pipes="matMenu">
  <button mat-menu-item routerLink="/services/aula38">Serviços</button>
  <button mat-menu-item routerLink="/pipes/aula43">Pipes</button>
</mat-menu>

<mat-menu #framework="matMenu">
  <button mat-menu-item routerLink="/framework/alert">Plain Text to Component</button>
</mat-menu>

<router-outlet></router-outlet>
