<app-ng-content>
  <div header>Aula 33 - Criando Diretiva de Atributo.</div>
  <div body>
    <p appNewDirectiveAtributteConsumer >Texto com fundo amarelo. Usando diretiva de atributo local.</p>
    <p dirBackgroundYellow >Texto com fundo amarelo. Usando diretiva de atributo global.</p>
    <p dirBackgroundYellowMouse> Texto com fundo amarelo quando passo o mouse. Usando @HostListener e @HostBinding.</p>
    <p [dirHighlight]="'red'" [defaultColor]="'grey'"> Texto com highlight com cores customizadas.</p>
  </div>
</app-ng-content>
