<app-ng-content>
  <div header>Aula 36 - Criando Diretiva de Estrutura ngElse.</div>
  <div body>
    <p [dirHighlight]="'red'" [defaultColor]="'grey'"> Testando se o módulo com as diretivas foi importado.</p>
    <button class="btn btn-primary" (click)="this.changeStateMoviesFrame()">
      {{ !this.showMovies ? "Exibir" : "Ocultar" }} lista de Filmes.
    </button>
    <br /><br />
    <div *ngIf="this.showMovies">
      <p>Utilizando *ngIf</p>
      <div *ngIf="movies.length > 0">
        <ul>
          <li *ngFor="let movie of this.movies">
            {{ movie }}
          </li>
        </ul>
      </div>
      <div *myNgElse="movies.length > 0">Não existem items na lista.</div>
    </div>
  </div>

</app-ng-content>
