<mat-card>
  <mat-toolbar color="accent"> Aula 29 - ngClass</mat-toolbar>
  <section class="ngClass">
    <article>
      <h1>
        <i
          class="glyphicon"
          [class.glyphicon-star-empty]="!myFavorite"
          [class.glyphicon-star]="myFavorite"
          (click)="star_onClick()"
        ></i>
      </h1>
      <h1>
        <i
          class="glyphicon"
          [ngClass]="{
            'glyphicon-star-empty': !this.myFavorite,
            'glyphicon-star': this.myFavorite
          }"
          (click)="star_onClick()"
        ></i>
      </h1>
    </article>
  </section>
</mat-card>
