<mat-card>
  <mat-toolbar color="accent"> Aula 25 - *ngIf</mat-toolbar>
  <section class="life-cycle">
    <article>
      <br />
      <button class="btn btn-primary" (click)="this.changeStateMoviesFrame()">
        {{ !this.showMovies ? "Exibir" : "Ocultar" }} lista de Filmes.
      </button>
      <br /><br />
      <div *ngIf="this.showMovies">
        <p>Utilizando *ngIf</p>
        <div *ngIf="movies.length > 0">Lista de cursos aqui.</div>
        <div *ngIf="movies.length == 0">Não existem items na lista.</div>
      </div>
      <br /><br />
      <div [hidden]="!this.showMovies">
        <p>Utilizando hidden (mais performático)</p>
        <div *ngIf="movies.length > 0">Lista de cursos aqui.</div>
        <div *ngIf="movies.length == 0">Não existem items na lista.</div>
      </div>
    </article>
  </section>
</mat-card>
