<div>
  <button class="btn btn-primary" (click)="increase()">+</button>
  <input type="text" [value]="value" readonly #inputVisor >
  <button class="btn btn-primary" (click)="decrease()">-</button>
</div>
