<h3>Aluno</h3>
<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Código: {{ this.aluno?.id }}</div>
  <div class="card-body">
    <h5 class="card-title">{{ this.aluno?.nome }}</h5>
    <p class="card-text">Text {{ this.aluno?.email }}</p>
  </div>
</div>
<button class="btn btn-success" (click)="editarAluno()">Editar</button>
