<div class="col-sm-10">
  <div class="card">
    <p>Param: {{ this.id }} e Id: {{ this.curso?.id }}</p>
    {{ this.curso?.nome }}
  </div>
</div>
<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Código: {{ this.curso?.id }}</div>
  <div class="card-body">
    <h5 class="card-title">{{ this.curso?.nome }}</h5>
    <p class="card-text">Text {{ this.curso?.nome }}</p>
  </div>
</div>
