<h3>Editar aluno</h3>
<div>
  <div class="form-group">
    <label for="inputCodigo">Código</label>
    <input type="number" class="form-control" id="inputCodigo" readonly [value]="this.aluno?.id" />
  </div>
  <div class="form-group">
    <label for="inputNome">Nome do aluno</label>
    <input
      type="text"
      class="form-control"
      id="inputNome"
      placeholder="Informe o nome do aluno"
      [(ngModel)]="this.aluno!.nome"
    />
  </div>
  <div class="form-group">
    <label for="inputEmail">Email</label>
    <input
      type="email"
      class="form-control"
      id="inputEmail"
      aria-describedby="emailHelp"
      placeholder="Informe o e-mail"
      [(ngModel)]="this.aluno!.email"
    />
    <small id="emailHelp" class="form-text text-muted"
      >Nunca compartilhe seu e-mail.</small
    >
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</div>
