<div [ngClass]="this.formGroupApplyCSS(input)">
  <label [for]="this.name" class="control-label">{{ this.label }}</label>
  <input
    [type]="this.type"
    [(ngModel)]="value"
    (ngModelChange)="updateChanges()"
    class="form-control"
    [id]="this.name"
    [name]="this.name"
    [(ngModel)]="this.value"
    [placeholder]="this.placeholder"
    [required]="this.required"
    #input="ngModel"
  />
  <ctrl-campo-error-msg [errorMessage]="this.errorMessage" [visible]="this.validate(input)"></ctrl-campo-error-msg>

</div>
