<div class="mt-5">
  <div><h3>Detalhes do Form</h3></div>
  <pre>
<span [class.text-danger]="!form.valid">Form válido: {{ form.valid }}</span>
Form alterado: {{ form.dirty }}
Form submetido: {{ form.submitted }}
  </pre>
  <pre>
Valores: {{ form.value | json }}
  </pre>
</div>
