<app-master-content>
  <div header>Aula 43 - Usando Pipes.</div>
  <div body>
    <h3>Pipes usados para formatar dados</h3>
    <p>
      Titulo: {{ book.title }} ou {{ book.title | uppercase | rtLowerCase }}
    </p>
    <p>
      Avaliação: {{ book.rating }} ou '{{ book.rating | number: "3.1-2" }} ou
      {{ book.rating | number: "1.1-3" }}
    </p>
    <p>Páginas: {{ book.pages }} ou {{ book.pages | number }}</p>
    <p>Preço: {{ book.price }} ou {{ book.price | currency: this.format }}</p>
    <p>
      Data: {{ book.date }} ou {{ book.date | date }} ou
      {{ book.date | date: "dd/MMM/yyyy" }}
    </p>
    <p>URL: {{ book.url }}</p>
    <br />
    <p>Livro: {{ book | json }}</p>

    <h3>Pipes usados para filtrar dados</h3>
    Novo Livro: <input type="text" #newBook />
    <button class="btn btn-primary" (click)="this.books.push(newBook.value)">
      Adicionar Livro
    </button>
    <br /><br />
    <h3>Pipes puro</h3>
    <input type="text" [(ngModel)]="filter" />
    <ul>
      <li *ngFor="let item of books | rtArrayFilter: this.filter">
        {{ item }}
      </li>
    </ul>
    <h3>Pipes impuro</h3>
    <ul>
      <li *ngFor="let item of books | rtArrayFilterImpure: this.filter">
        {{ item }}
      </li>
    </ul>
    <h3>Maneira correta de fazer filtro em arrays</h3>
    <ul>
      <li *ngFor="let item of this.getBooks()">
        {{ item }}
      </li>
    </ul>

    <h3>Pipe Assync</h3>
    {{ this.assyncValue | json }}<br />
  </div>
</app-master-content>
