<mat-card>
  <mat-toolbar color="accent"
    ><ng-content select="[header]"></ng-content
  ></mat-toolbar>
  <section class="ngContent">
    <article>
      <ng-content select="[body]"></ng-content>
    </article>
  </section>
</mat-card>
