<mat-card>
  <mat-toolbar color="accent"> Aula 31 - Elvis Operator</mat-toolbar>
  <section class="ElvisOperator">
    <article>
      <p>Descrição:  {{ task.description }} </p>
      <p>Responsável: {{ task.owner?.name }} </p>
      <p>O campo responsável tenta acessar uma propriedade de um objeto que está nulo e com isso da erro. Para tratar esta situação usamos uma '?'(elvis operator) para veridficar se o objeto está nula antes de acessar a propriedade dele.</p>
    </article>
  </section>
</mat-card>
