<h1>seguindo o exemplo</h1>
<textarea [formControl]="control"></textarea>
<div [innerHTML]="control.value"></div>

<h1>tentando usar a diretiva do exemplo</h1>
<input type="text" [(ngModel)]="this.textToHtml">
<div [innerHTML]="this.textToHtml"></div>

<input type="text">
<button>Teste</button>
<h2>teste</h2>
<div ng-bind-html="this.codeShow"></div>
