<mat-card>
  <mat-toolbar color="accent">Aula 9 - Databinding e Interpolação</mat-toolbar>
  <section>
    <article>
      <h3>Interpolação</h3>
      <p>String renderiza com interpolação: {{ this.url }}</p>
      <p>Angular também resolve expressões na interpolação</p>
      <p>Expressão matemática com literais: 1 + 1 = {{ 1 + 1 }}</p>
      <p>
        Expressão matemática com retorno de funções ou propriedades: 1 + 1 +
        this.getValor() = {{ 1 + 1 + this.getValor() }}
      </p>
      <p>Condições boleanas this.cursoAngular = {{ this.cursoAngular }}</p>
      <h3>Property Binding</h3>
      <p>
        Imagem sendo exibida usando interpolação: <br /><img
          src="{{ this.urlImagem }}"
        />
      </p>
      <p>
        Imagem sendo exibida usando property binding: <br /><img
          [src]="this.urlImagem"
        />
      </p>
    </article>
  </section>
</mat-card>
