<mat-card>
  <mat-toolbar color="accent">
    Aulas 14 e 16 - Output Property (Emitindo Eventos) e acesso ao DOM</mat-toolbar
  >
  <section class="output-property">
    <article>
      <h3>Output Property</h3>
      <div>
        <app-output-property (onChange)="output_onChange($event)"></app-output-property>
      </div>
      <p>Obtendo valor pelo evento de change: <b>{{ this.value }} - {{ this.type }} </b> </p>
    </article>
  </section>
</mat-card>
