<mat-card>
  <mat-toolbar color="accent"> Aula 11 - Event Binding </mat-toolbar>
  <section class="property-binding">
    <article>
      <h3>Class e Style Binding</h3>
      <div>
        <button class="btn btn-primary" (click)="button_Click()">
          Me Clique!
        </button>
        <br /><br />
        <input
          #inputControl
          type="text"
          (keyup)="text_KeyUp($event)"
          (keyup.enter)="text_Blur(inputControl.value)"
          (blur)="text_Blur(inputControl.value)"
        /><br /><br />
        <p>
          Usando interpolação para mostrar o valor do texto digitado:
          <b>{{ this.typedValue }}</b>
        </p>
        <p>
          Neste outro só vai aparecer após dar enter ou perder o foco.
          <b>{{ this.savedValue }}</b>
        </p>
        <span
          (mouseover)="label_MouseOverOut()"
          (mouseout)="label_MouseOverOut()"
          [class.highlight]="this.isMouseOver"
          >Passe o mouse sobre mim!</span
        >
      </div>
    </article>
  </section>
</mat-card>
