<h1>Compartilhando um serviço entre componentes.</h1>

<input type="text" #inputMovieName>
<button class="btn btn-primary" (click)="adicionarFilme_click()">Adicionar Filme</button>
<div *ngIf="movies.length > 0">
  <ul>
    <li *ngFor="let movie of this.movies">
      {{ movie }}
    </li>
  </ul>
</div>
<div *myNgElse="movies.length > 0">Não existem items na lista.</div>
<!-- <div myNgElse>Não existem items na lista.</div> -->
