<h1>Componente de lista de filmes.</h1>
<button class="btn btn-primary" (click)="this.changeStateMoviesFrame()">
  {{ !this.showMovies ? "Exibir" : "Ocultar" }} lista de Filmes.
</button>
<br /><br />
<div *ngIf="this.showMovies">
  <p>Utilizando *ngIf</p>
  <div *ngIf="movies.length > 0">
    <ul>
      <li *ngFor="let movie of this.movies">
        {{ movie }}
      </li>
    </ul>
  </div>
  <div *myNgElse="movies.length > 0">Não existem items na lista.</div>
  <!-- <div myNgElse>Não existem items na lista.</div> -->
</div>
