<p>Lista de Cursos</p>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let curso of cursos">
    <a [routerLink]="['/cursos', curso.id ]">{{ curso.nome }}</a>
  </li>
</ul>

Pagina: {{ this.pagina }}

<button class="btn btn-primary" (click)="proximaPagina()">Próxima Página</button>
